
/** GLOBAL*/
body {
  padding-top: 50px;
  background-color:white;
  position: relative;
}



h4{
	color:black;
	font-size: 25px;
	font-weight: bold;
}
#main-content{
	background-color:#0c0f14;

}


/** NAvigation BAR**/
.navbar-inverse{

	color: #e29d36;
	font-size:18px;
	background-color: black;
	font-style: tahoma;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color:black;
    color:#e29d36;
}

/** Main Banner**/

#banner-text{
	margin-bottom: 0px;
	margin-top: 0px;
	}
.jumbotron {
	margin-top: 0px;
	margin-bottom: 0px;
	/**background-image: url(img/background-img.jpg);**/
	background-color: black;
	
	width: 100%;
	height: 100%;

}
.jumbotron img{
	width: 60%;
	background-repeat: no-repeat;
	margin-top: 20px;
	
}

.jumbotron p{
	color: white;
	font-size: 20px;
	font-family: sans-serif;
}
.main-container{
	background-color: white;
	margin-top: 10px;
	padding: 0 30px 30px 30px;
}

#Tag-Line{
	font-size: 42px;
	font-weight: bold;
	color: white;

}

#main-video{
	margin-top:0px;
}



.divider{
	color: white;
}


.media img{
	width: 50px;
}

.media p{
	font-size: 18px;

}
.orange-line img{
	width: 100%;
	height: 20px;
	padding-top:0; 
}

#title{

	color: #51d6ff;
	margin: 15px auto;
	font-size:35px;
	margin-right: 50px;
	}
	

#jobtitle{


	color:#e29d36;
	text-align: center;
}

.media{

	font-size: 20px;

}



/** About ME **/

#aboutme{
	margin-bottom: 40px;
}
#aboutme h1{
	color: white;
	text-align: center;
	margin-bottom: 70px;
	margin-top: 70px;

}

#aboutme p{
	color: #e29d36;
	font-size: 22px;
	font-family: tahoma;

}

#aboutme img{
	border: solid grey .06em;
	width: 60%;
	border-radius: 250px;
}
/** Social Media **/
#social-media{
	background-color: black;
	text-align: left;
}
#social-media img{
	width: 50px;
	margin-bottom: 10px;
}


/**SKILLS**/
#skills{

}
#skills p{
	color: white;
	font-size: 20px;
}

#skills h4{
	color:  #e29d36;
}

#skills h1{
	color: #e29d36;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 60px;
}

/**Publications**/
#publications img{
	width: 100%;
	margin-bottom: 30px;
}

#publications h1{
	color: #e29d36;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 60px;
}



/** PROJECTS **/
#projects h1{
	color: white;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 60px;
}
#projects img{
	width: 1000px;
	height: 400px;
}

#projects .list-group-item{
	background-color: black;
	color: #e29d36;
	text-align: center;
}
/**SERVICES**/
#services{

}
#services img{
	width: 100%;
}

#services h1{
	width: 100%;
	color: #e29d36;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 60px;
}

#services h2{
	color: #e29d36;
	text-align: center;
}


/** Global Panel Settings**/
.panel-title{
	color: blue;
	background-color: black;
}

/**Contact**/

#contact{
	margin-top: 60px;
}

#contact .list-group-item{
	background-color: black;
	color: #51d6ff;
	text-align: center;
}
/** Footer**/

footer {
	background-color: black;
	height: 200px;
}

.frontend h1{
	margin-top: 70px;
	text-align: center;
	
}


footer{
	background: black;
	color: #fff;
	padding:30px 0 20px 0; 

}

footer li{
	float:left;
	padding: 0 10px 0 10px;
	list-style: none;
}


footer a { 
	color: #fff;
 }

 footer p{
 	float: right;
 }

 .work-list li{
	list-style: none;
	float: left;
	padding: 0 10px 0 10px;
	margin-bottom: 30px;
	color: white;

}
.work-list h1{
	width: 100%;
	color: #e29d36;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 60px;
}