body {
  padding-top: 50px;
  background-color:#c6c6c6;
  position: relative;
}

h1{
	color: #DC760E;
}

.main-img{

}

#banner-text{
	margin-bottom: 10px;
	margin-top: 0px;
	}
.jumbotron {
	margin-top: 0px;
	margin-bottom: 0px;
	/**background-image: url(img/background-img.jpg);**/
	background-color: black;
	
	width: 100%;
	height: 100%;

}
.jumbotron img{
	width: 65%;
	background-repeat: no-repeat;
	margin-top: 20px;
	
}

.jumbotron p{
	color: white;
	font-size: 20px;
	font-family: sans-serif;
}
.main-container{
	background-color: white;
	margin-top: 10px;
	padding: 0 30px 30px 30px;
}

#Tag-Line{
	font-size: 42px;
	font-weight: bold;
	color: white;

}
.navbar-inverse{

	color: black;
	font-size:22px;
	background-color: black;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color:black;
    color:#51d6ff;
}

.divider{
	color: white;
}

.orange-line img{
	width: 100%;
	height: 20px;
	padding-top:0; 
}

#title{

	color: #51d6ff;
	margin: 15px auto;
	font-size:35px;
	margin-right: 50px;
	}
	

#jobtitle{


	color:#51d6ff;
	text-align: center;
}

.media{

	font-size: 25px;

}

.backend h1{
	margin-top: 50px;
	text-align: center;
	color:white;
	
	background-color: #DC760E;
	border-radius: 100px;
}

.frontend h1{
	margin-top: 50px;
	text-align: center;
	background-color: #DC760E;
	color: white;
	
	border-radius: 100px;
}

footer{
	background-color: #CFD8DC
}

#carousel-example-generic{
	width: 100%;
	height: 100%;
}

.panel-default{
	margin-top: 40px;
	text-align: center;
	font-size: 22px;
	color: #51d6ff;
	background-color: black;

}


#profile-pic{
	border-radius: 50%;
	border-right: black;
	border: 5px solid #ffaa00;
	width: 100px;
	text-align: center;
}

#profile-pic img{
	text-align: center;
}

.main-content{
	background-color: white;
}

#skills img{
	width: 80%
}