
/** GLOBAL*/
body {
  padding-top: 50px;
  background-color:white;
  position: relative;
}



h4{
	color:black;
	font-size: 25px;
	font-weight: bold;
}
#main-content{
	background-color:#1a1b1c
;

}


/** NAvigation BAR**/
.navbar-inverse{

	color: black;
	font-size:22px;
	background-color: black;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color:black;
    color:#51d6ff;
}

/** Main Banner**/

#banner-text{
	margin-bottom: 0px;
	margin-top: 0px;
	}
.jumbotron {
	margin-top: 0px;
	margin-bottom: 0px;
	/**background-image: url(img/background-img.jpg);**/
	background-color: black;
	
	width: 100%;
	height: 100%;

}
.jumbotron img{
	width: 60%;
	background-repeat: no-repeat;
	margin-top: 20px;
	
}

.jumbotron p{
	color: white;
	font-size: 20px;
	font-family: sans-serif;
}
.main-container{
	background-color: white;
	margin-top: 10px;
	padding: 0 30px 30px 30px;
}

#Tag-Line{
	font-size: 42px;
	font-weight: bold;
	color: white;

}

#main-video{
	margin-top:0px;
}



.divider{
	color: white;
}


.media img{
	width: 50px;
}

.media p{
	font-size: 18px;

}
.orange-line img{
	width: 100%;
	height: 20px;
	padding-top:0; 
}

#title{

	color: #51d6ff;
	margin: 15px auto;
	font-size:35px;
	margin-right: 50px;
	}
	

#jobtitle{


	color:#51d6ff;
	text-align: center;
}

.media{

	font-size: 20px;

}



/** About ME **/


#aboutme h1{
	color: white;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 60px;
}

#aboutme p{
	color: white;
	font-size: 22px;
	font-family: tahoma;

}

#aboutme img{
	border: solid grey .06em;
	width: 60%;
	border-radius: 250px;
}
/** Social Media **/
#social-media{
	background-color: black;
	text-align: left;
}
#social-media img{
	width: 50px;
	margin-bottom: 10px;
}


/**SKILLS**/
#skills p{
	color: white;
	font-size: 18px;
}

#skills h4{
	color: #51d6ff;
}

/**Publications**/
#publications img{
	width: 100%;
}

#publications h1{
	color: white;
	text-align: center;
	margin-bottom: 60px;
	margin-top: 60px;
}
/** Global Panel Settings**/
.panel-title{
	color: blue;
	background-color: black;
}

/**Contact**/

#contact{
	margin-top: 60px;
}

#contact .list-group-item{
	background-color: black;
	color: #51d6ff;
	text-align: center;
}
/** Footer**/

footer{
	background-color: black;
	height: 200px;
}

.frontend h1{
	margin-top: 70px;
	text-align: center;
	background-color: black;
	color: white;
	border-radius: 100px;
	font-size: 32px;
}


