
/** GLOBAL*/
body {

 	
    font-family: "Helvetica Neue";
    background-color: #d4dadb;
    /** MArgin Bottom by footer Height**/
	margin-bottom: 90px;
}


ul {
	list-style: none;
	font-size: 20px;
}

li {
	list-style-type: : none;
	padding-bottom: 5px;
}

a:hover{
	text-decoration: none;
}




/* Custom GLobal*/
.center{
	text-align: center;
}
.bold{
	font-weight: bold;
}

.grey-margin{
	border-left: solid gray 1px;
	font-size: 16px;
}




/** NAvigation BAR**/
.navbar-inverse .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
     background-color:rgba(212,218,219,0.4);

}

nav{
	min-height: 65px !important;
}

nav.navbar.shrink {
  min-height: 50px !important;
 
}

nav.navbar{
  background-color:rgba(26,49,79,0.6);
  font-family: "Helvetica Neue";
  font-size: 18px;
  color: white !important;

 

   // Animation
   -webkit-transition: all 0.3s ease;
   transition: all 0.3s ease;
}


.nav.navbar-nav li a {
   color: white;
   font-size: 20px;
   font-weight: bold;
 }


 .navbar-default .navbar-nav > .active{
    color: #000;
   background: #d65c14;
 }
 .navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
      color: white;
      background: #d65c14;
 }


.nav-tabs > .active > a,
.nav-tabs > .active > a:hover,
.nav-tabs > .active > a:focus{
	color: white;
      background: #d65c14;
}


/*Top of Website*/


.main-content{
	background-color:white;
	
}






 /*footer*/

.footer{
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed heigth of the footer here*/
	height: 90px;
	background-color: #560401;
}



footer  {
	background-color:#1a314f;
	color: white;
	text-align: center;
	height: 100px;
	width: 100%;
}

